<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <title>raleigh.rb - Ruby meetup serving the Raleigh/Durham/Chapel Hill area</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="Ruby/Rails user group serving the Raleigh/Durham/Chapel Hill area" />
  <meta name="keywords" content="ruby, rails, meetup, user group, raleigh, durham, chapel hill, triangle, software, hacking, testing, dynamic, languages, programming" />
</head>

<body>
  <div style="text-align:center">
    <strong><big><big><big><big>raleigh.rb</big></big></big></big></strong><br/>
    <strong><big>Raleigh's very own Ruby meetup!</big></strong><br/>
    <br/>
    <a href="http://www.meetup.com/raleighrb/">The Meetup</a><br/>
    <a href="http://rubyforge.org/mailman/listinfo/raleigh-rb-members">The Mailing List</a><br/>
    <a href="/podcast">The Podcast</a><br/>
    <br/>
    <b>The IRC channel:</b><br/>
    #raleigh.rb on <a href="http://freenode.net">freenode.net</a><br/>
    <br/>
    <b>Slides from recent meetups:</b><br/>
    <a href="/slides/2010-08-17.pdf">A/B Testing for Developers</a> by Matthew Bass<br/>
    <a href="http://www.slideshare.net/jimmythrasher/heroku-in-real-life">Heroku in Real Life</a> by Jimmy Thrasher<br/>
    <a href="/slides/2010-06-15.pdf">Rapid Prototyping &amp; Customer Development</a> by John W. Long<br/>
    <a href="/slides/2010-05-18.pdf">Building Native Extensions</a> (<a href="http://github.com/belucid/Raleigh.rb---Native-C-Extensions">code</a>) by Sean Johnson<br/>
    <a href="http://robsanheim.com/2010/03/16/raleigh-rb-dependencies/">Ruby Dependency Management</a> by Rob Sanheim<br/>
    <a href="/slides/2010-02-16_cucumber.pdf">Story-Driven Development with Cucumber</a> by Sean Cribbs<br/>
    <a href="/slides/2010-01-19_spree.pdf">Spree: The Good, the Bad, and the Ugly</a> by Ken Auer<br/>
    <a href="/slides/2009-09-15.pdf">Self Marketing</a> (<a href="/slides/2009-09-15_playlist.gif">playlist</a>) by Mark Mzyk<br/>
    <a href="/slides/2009-08-18_prawn.pdf">Generating Rich PDFs with Prawn</a> by Matthew Bass<br/>
    <a href="/slides/2009-06-16_chef.pdf">Tasty Infrastructure</a> by Mark Imbriaco<br/>
    <a href="/slides/2009-05-19_alternate_db.pdf">Alternate Databases</a> by Kevin Smith<br/>
    <a href="/slides/2009-02-17_rails_authentication_solutions.pdf">Rails Authentication Solutions</a> by Aaron Bedra<br/>
    <a href="http://www.mikeperham.com/wp-content/uploads/2008/11/patternsindistributedcomputing.zip">Patterns in Distributed Computing</a> by Mike Perham<br/>
    <a href="http://jasonrudolph.com/downloads/presentations/How_to_Fail_With_100_Percent_Test_Coverage.pdf">How to Fail with 100% Test Coverage</a> (<a href="http://jasonrudolph.com/blog/2008/09/09/audio-video-slides-how-to-fail-with-100-test-coverage-at-raleighrb/">video</a>) by Jason Rudolph<br/>
    <a href="/slides/2008-06-17_dynamic_langs.pdf">The Fall and Rise of Dynamic Languages</a> by Rick DeNatale<br/>
    <br/>
    <big>Recent Meetup Attendance</big><br/>
    <img src="/images/chart.png" alt="Attendance Chart"><br/>
    <br/>
    <small>&copy;2012 raleigh.rb</small><br/>
    <br/>
  </div>
</body>
</html>